body {
    font-family: 'Inter', sans-serif;
    margin: 3px;
}

.calcul {
    margin-top: -60px;
}

.calcy-body,
.calcy-body * {
    box-sizing: border-box;
}

.calcy-body {
    background: #ffffff;
    border-radius: 30px;
    width: 100%;
    height: 844px;
    position: relative;
    overflow: hidden;
}

.vector {
    width: 328.22px;
    height: 155px;
    position: absolute;
    left: 31px;
    top: 194px;
    overflow: visible;
}

.gpa-calculator {
    color: #192e59;
    text-align: center;
    /* font-family: 'Inter-Bold', 'gill sans'; */
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 91px);
    top: 128px;
}

.rectangle-5 {
    background: #29ae70;
    border-radius: 100px;
    width: 185px;
    height: 50px;
    position: absolute;
    left: calc(50% - 92px);
    top: 225px;
}

._9-41 {
    color: #192e59;
    text-align: center;
    /* font-family: 'Inter-Bold', 'gill sans'; */
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 32px;
    top: 18px;
}

.rectangle-6 {
    background: #29ae70;
    border-radius: 100px;
    width: 336px;
    height: 61px;
    position: absolute;
    left: calc(50% - 168px);
    top: 736px;
}

.add-course {
    color: #b9c8da;
    text-align: center;
    /* font-family: 'Inter-SemiBold', 'gill sans'; */
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: calc(50% - 40px);
    top: 562px;
}

/*
.line-1 {
    border-style: solid;
    border-color: #192e59;
    border-width: 6px 0 0 0;
    width: 139px;
    height: 0px;
    position: absolute;
    left: calc(50% - 69px);
    top: 835px;
}*/

.calculate {
    color: #ffffff;
    text-align: center;
    /* font-family: 'Inter-SemiBold', 'gill sans'; */
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: calc(50% - 34px);
    bottom: 67px;
}

.vector6 {
    height: auto;
    position: absolute;
    right: 85.9%;
    left: 7.18%;
    width: 6.92%;
    bottom: 87.68%;
    top: 10.07%;
    height: 2.25%;
    overflow: visible;
}

.ellipse-2 {
    background: #ebb03e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: 643px;
}

.vector7 {
    width: 20px;
    height: auto;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 19.08%;
    top: 78.55%;
    height: 2.37%;
    overflow: visible;
}

.rectangle-10 {
    background: rgba(61, 177, 101, 0.20);
    border-radius: 100px;
    width: 72px;
    height: 29px;
    position: absolute;
    left: 301px;
    top: 284px;
}

.rectangle-11 {
    background: rgba(236, 50, 55, 0.20);
    border-radius: 100px;
    width: 72px;
    height: 29px;
    position: absolute;
    left: 35px;
    top: 316px;
}

.mth-412 {
    color: #3db165;
    text-align: left;
    /* font-family: 'Inter-Medium', 'gill sans'; */
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    left: 315px;
    top: 292px;
}

.eps-312 {
    color: #ec3237;
    text-align: left;
    /* font-family: 'Inter-Medium', 'gill sans'; */
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    left: 52px;
    top: 324px;
}

.vector8 {
    height: auto;
    position: absolute;
    right: 21.1%;
    left: 74.87%;
    width: 4.03%;
    bottom: 65.83%;
    top: 32.23%;
    height: 1.95%;
    overflow: visible;
}

.vector9 {
    height: auto;
    position: absolute;
    right: 66.11%;
    left: 29.86%;
    width: 4.03%;
    bottom: 62.03%;
    top: 36.02%;
    height: 1.95%;
    transform: translate(-15.71px, 0px);
    overflow: visible;
}

.plan {
    color: #fff;
    text-align: left;
    /* font-family: 'Inter-Medium', 'gill sans'; */
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: calc(50% - 25px);
    top: 235px;
}

.group-1 {
    height: auto;
    position: absolute;
    left: calc(50% - 78px);
    top: 447px;
    overflow: visible;
}


.jist {
    outline: none;
}

.jist a {
    font-size: larger;
    color: #192e59;
    outline: none;
    text-decoration: none;
}

.plan-btn h1 {
    text-align: center;
    color: #3db165;
}

.fonte {
    /* font-family: 'gill sans'; */
}