* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: calc(1em + .5vw);
}

main > *:not(img) {
    outline: 2px solid hotpink;
    margin: 1em auto;
    width: min(100vw, 1000px);
}

.hamburger {
    display: block;
    margin: 1em;
}

.first-sec {
    background: url('../img/svg/first.svg');
    padding: 1em;
}


@media(width >= 780px) {
    .hamburger {
        display: none;
    }

    .list-group li a{
        display: block !important;
    }
}